#contact_section{
    padding: 70px 0;
    background-color: var(--secondary-color);
}

#contact_section h2{
    font-size: 50px;
    text-align: center;
}

.grid_container{
    margin: 60px auto;
    width: 1500px;
    max-width: 90%;
    /*background: greenyellow; nur zu Test-Zwecjen, um Grid-Template besser sehen zu können */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* vier gleichgroße Kästchen/Zeilen // fr = fraction */
    grid-template-rows: 300px 300px; /* zwei Reihen innerhalb des Grids/Tabelle */
    gap: 15px;
    grid-template-areas: /* Aufteilung/Anordnung des Grids */
    "item1 item1 item2 item3" /* item1 + item1 = steht zweimal hintereinander, daher Spalte doppelt so groß */
    "item4 item5 item5 item3";
}

.grid_item{
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.grid_item img{ /* Icons bekommen feste Höhe/Breite! sonst sind sie bei verschiedenen Bildschirmen unterschiedlich groß */
    height: 150px; 
    width: 150px;
    padding: 20px;
}

#item1{
    grid-area: item1;
}

#item2{
    grid-area: item2;
    flex-direction: column;
    gap: 10px;
}

#item3{
    grid-area: item3;
    flex-direction: column; /* wird dann untereinander angezeigt */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 19px;
}

#item4{
    grid-area: item4;
    flex-direction: column;
    gap: 10px;
}

#item5{
    grid-area: item5;
}

@media(max-width: 1300px){
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr; /* drei gleichgroße Kästchen/Zeilen // fr = fraction */
        grid-template-rows: 300px 300px 300px; /* drei Reihen innerhalb des Grids/Tabelle */
        grid-template-areas: /* Aufteilung/Anordnung des Grids */
        "item1 item1 item2" /* item1 + item1 = steht zweimal hintereinander, daher Spalte doppelt so groß */
        "item4 item5 item5"
        "item3 item3 item3";
    }
}

@media(max-width: 900px){
    .grid_container{
        grid-template-columns: 1fr 1fr; /* zwei gleichgroße Kästchen/Zeilen // fr = fraction */
        grid-template-rows: auto auto auto auto; /* vier Reihen innerhalb des Grids/Tabelle */
        grid-template-areas: /* Aufteilung/Anordnung des Grids */
        "item1 item1" /* item1 + item1 = steht zweimal hintereinander, daher Spalte doppelt so groß */
        "item5 item5"
        "item2 item4"
        "item3 item3";
    }
}

@media(max-width: 420px){
    .grid_container{
        padding-top: 20px;
        grid-template-columns: 1fr 1fr; /* zwei gleichgroße Kästchen/Zeilen // fr = fraction */
        grid-template-rows: auto auto auto auto; /* vier Reihen innerhalb des Grids/Tabelle */
        /*grid-template-areas: /* Aufteilung/Anordnung des Grids */
        /*"item1 item1" /* item1 + item1 = steht zweimal hintereinander, daher Spalte doppelt so groß */
        /*"item5 item5" */
        /*"item2"
        "item4"
        "item3"
        "item5"
        "item1"; */
        font-size: 13px;
        justify-content: center;
        padding: 5px;
    }

    .grid_item{
        align-items: center;
        gap: 8px;
    }    
}

@media(max-width: 650px){
    #contact_section h2{
        font-size: 9vw;
    }
    .grid_item{
        padding: 5px;
    }
    .grid_item img{
        height: 100px;
        width: 100px;
    }
    .grid_item h3{
        font-size: 24px;
    }
}