header{
    padding: 70px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.header_text{
    width: 550px;
}


.circle{
    height: 600px;
    width: 600px;

    max-height: 80vw;
    max-width: 80vw;

    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    height: 100%;
}

nav{
    margin-bottom: 120px;
}
@media(max-width: 800px){ /* weniger Abstand zwischen Navbat und h1 auf mobilen Geräten */
    nav{
        margin-bottom: 10vw;
        text-align: center;
    }
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
}

nav a:hover{
    color: var(--text-color);
}

/* Unterstriche in der Navbar */
nav a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

#toggle_button{
    display: none;
}

label[for="toggle_button"]{
    display: none;
}

label[for="toggle_button"] span{
    font-size: 40px;
    display: flex;
    align-items: flex-start;
}

@media(max-width: 975px){ /* blendet Hamburger-Menü ein */

    nav{
        position: absolute; /* verschiebt das Hamburger-Menü in die obere linke Ecke*/
        top: 0;
        left: 0;
        background-color: var(--secondary-color);
        padding: 15px;
        border-radius: 0 0 25px 0; /* rundet die Ecke im Hamburger-Menü ab*/

    }
    nav ul{
        display: none;
        flex-direction: column;
    }
    #toggle_button:checked ~ ul{
        display: flex;
    }
    label[for="toggle_button"]{
        display: block;
    }
}

#formular_section {
    display: start;
}