@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-brand-color: #07a35a;
    --primary-color: #3c3d3d;
    --secondary-color: #0a663b;
    --light-secondary-color: #197d4e;
    --text-color: #fafcfb;
    --secondary-text-color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Playfair';
    font-size: 20px;
    color: var(--text-color);
}

h1{
    font-size: 50px; /* oder 100px? */
    line-height: 115%;
    text-align: center;
}

h3{
    font-size: 38px;
}

.subheading{
    margin-top: 25px;
    color: var(--secondary-text-color);
    text-align: center;
}

@media(max-width: 800px){ /*975*/
    .subheading{
        font-size: 3vw;
        text-align: center;
    }
}

@media(max-width: 800px){
    h1{
        font-size: 6vw; /*vorher 7vw*/
        text-align: center;
    }
    .subheading{
        text-align: center;
    }
    body{
        font-size: 16px;
    }
}