header{
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.header_text{
    height: 550px;
}

@media(max-width: 975px){ /* Abstand von .circle img an .header_text verkürzen */
    .header_text{
        font-size: 5vw;
        text-align: center;
    }
}

.circle{
    height: 600px;
    width: 600px;

    max-height: 80vw;
    max-width: 80vw;

    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    height: 100%;
}

nav{
    margin-bottom: 120px;
}
@media(max-width: 975px){ /* weniger Abstand zwischen Navbat und h1 auf obilen Geräten */
    nav{
        margin-bottom: 5vw;
        text-align: center;
    }
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
}

nav a:hover{
    color: var(--text-color);
}

/* Unterstriche in der Navbar */
nav a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

#toggle_button{
    display: none;
}

label[for="toggle_button"]{
    display: none;
}

label[for="toggle_button"] span{
    font-size: 40px;
}

@media(max-width: 975px){ /* blendet Hamburger-Menü ein */
    nav ul{
        display: none;
        flex-direction: column;
    }
    #toggle_button:checked ~ ul{
        display: flex;
    }
    label[for="toggle_button"]{
        display: block;
    }
}